In [5]:
import os
import pandas as pd
import numpy as np

In [6]:
%pwd
os.chdir("../")
%pwd

'g:\\success_analytics_courses\\internship_project\\pulsar_project'

In [3]:
df = pd.read_csv("artifacts\\data_ingestion\\ingested_data\\train.csv")

In [7]:
df

,id,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0
...,...,...,...,...,...,...,...,...,...,...
117559,117559,132.843750,56.748838,-0.060070,-0.554084,4.054348,27.844144,6.564423,44.442664,0
117560,117560,112.578125,52.539271,0.179580,-0.306961,1.637960,15.331913,11.384718,142.535470,0
117561,117561,119.757812,49.980013,0.064402,-0.270822,3.877926,19.788559,6.959740,56.367789,0
117562,117562,105.789062,46.986595,0.441426,0.372466,2.097826,17.170612,9.442445,99.074539,0
117563,117563,113.515625,50.935956,0.031517,-0.443831,23.290970,62.006842,2.386364,4.001859,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117564 entries, 0 to 117563
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    117564 non-null  int64
 1   Mean_Integrated       117564 non-null  float64
 2   SD                    117564 non-null  float64
 3   EK                    117564 non-null  float64
 4   Skewness              117564 non-null  float64
 5   Mean_DMSNR_Curve      117564 non-null  float64
 6   SD_DMSNR_Curve        117564 non-null  float64
 7   EK_DMSNR_Curve        117564 non-null  float64
 8   Skewness_DMSNR_Curve  117564 non-null  float64
 9   Class                 117564 non-null  int64
dtypes: float64(8), int64(2)
memory usage: 9.0 MB

In [11]:
df['Class'].dtype == 'int64'
a = df.isna().sum().sum()
a

0

In [14]:
a = [ft for ft in df.columns if df[ft].isna().sum()==0]
a

['id',
 'Mean_Integrated',
 'SD',
 'EK',
 'Skewness',
 'Mean_DMSNR_Curve',
 'SD_DMSNR_Curve',
 'EK_DMSNR_Curve',
 'Skewness_DMSNR_Curve',
 'Class']

In [16]:
df['Class'].nunique()

2

In [2]:
l = [1,2,3]
for i in l:
    print(i)
    with open('example.txt', 'w', encoding='utf-8') as my_file:
        my_file.write(f'{i}\n')
        my_file.close()

1
2
3

In [4]:
a_list = ['bobby', 'hadz', 'com']
with open('example.txt', 'w', encoding='utf-8') as my_file:
    for item in a_list:
        my_file.write(f'{item}\n')

In [1]:
import os
%pwd
os.chdir("../")
%pwd

'g:\\success_analytics_courses\\internship_project\\pulsar_project'

In [3]:
import os
from pulsarclassification.logging import logging
from pulsarclassification.constants import *
from pulsarclassification.utils.common import read_yaml,create_directories,get_file_size
#from pulsarclassification.entity import DataIngestionConfiguration,DataValidationConfiguration

class DataValidation:
    def __init__(self):

        try:
            #self.ingestion_config = ingestion_config
            #self.validation_config = validation_config
            self.schema = read_yaml(SCHEMA_FILE_PATH)
        except Exception as e:
            raise e 
    def check(self):
        return self.schema

In [4]:
dv = DataValidation()
a = dv.check()

[20-08-2023 18:27:25: INFO: common:  yaml file from this path config\schema.yaml read succesfully]

In [5]:
a.number_of_feature_columns

9

In [2]:
def add_subject_to_file(filename, new_subject):
    try:
        with open(filename, 'a') as file:
            file.write(new_subject + '\n')  # Add a newline after each subject
        print("Subject added successfully.")
    except Exception as e:
        print("An error occurred:", e)

# Example usage
file_name = "subjects.txt"  # Replace this with your actual file name
new_subject = "Biology"     # Replace this with the new subject you want to add

add_subject_to_file(file_name, new_subject)

Subject added successfully.

In [32]:
from pulsarclassification.utils.common import read_yaml,create_directories,get_file_size
schema = read_yaml("G:\\success_analytics_courses\\internship_project\\pulsar_project\\config\\schema.yaml")
schema

[24-08-2023 06:47:48: INFO: common:  yaml file from this path G:\success_analytics_courses\internship_project\pulsar_project\config\schema.yaml read succesfully]

ConfigBox({'number_of_feature_columns': 9, 'numeriacl_columns': 'id Mean_Integrated SD EK Skewness Mean_DMSNR_Curve SD_DMSNR_Curve EK_DMSNR_Curve Skewness_DMSNR_Curve Class', 'datatype_of_columns': {'id': 'int64', 'Mean_Integrated': 'float64', 'SD': 'float64', 'EK': 'float64', 'Skewness': 'float64', 'Mean_DMSNR_Curve': 'float64', 'SD_DMSNR_Curve': 'float64', 'EK_DMSNR_Curve': 'float64', 'Skewness_DMSNR_Curve': 'float64', 'Class': 'int64'}, 'target_column': 'Class', 'class_value': {'Class_0': 0, 'Class_1': 1}})

In [17]:
schema.class_value

ConfigBox({'Class_0': 0, 'Class_1': 1})

In [21]:
a = df[df[schema.target_column] == schema.class_value.Class_0]
b = df[df[schema.target_column] == schema.class_value.Class_1]
a.shape,b.shape

((106597, 10), (10967, 10))

In [22]:
10967*0.2

2193.4

In [35]:
ft = schema.numeriacl_columns.split(" ")

In [36]:
ft

['id',
 'Mean_Integrated',
 'SD',
 'EK',
 'Skewness',
 'Mean_DMSNR_Curve',
 'SD_DMSNR_Curve',
 'EK_DMSNR_Curve',
 'Skewness_DMSNR_Curve',
 'Class']

In [37]:
ft.remove("id")
ft

['Mean_Integrated',
 'SD',
 'EK',
 'Skewness',
 'Mean_DMSNR_Curve',
 'SD_DMSNR_Curve',
 'EK_DMSNR_Curve',
 'Skewness_DMSNR_Curve',
 'Class']

In [39]:
a = df[ft]

In [40]:
a

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0
...,...,...,...,...,...,...,...,...,...
117559,132.843750,56.748838,-0.060070,-0.554084,4.054348,27.844144,6.564423,44.442664,0
117560,112.578125,52.539271,0.179580,-0.306961,1.637960,15.331913,11.384718,142.535470,0
117561,119.757812,49.980013,0.064402,-0.270822,3.877926,19.788559,6.959740,56.367789,0
117562,105.789062,46.986595,0.441426,0.372466,2.097826,17.170612,9.442445,99.074539,0
117563,113.515625,50.935956,0.031517,-0.443831,23.290970,62.006842,2.386364,4.001859,0

In [41]:
df = df[ft]
df

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0
...,...,...,...,...,...,...,...,...,...
117559,132.843750,56.748838,-0.060070,-0.554084,4.054348,27.844144,6.564423,44.442664,0
117560,112.578125,52.539271,0.179580,-0.306961,1.637960,15.331913,11.384718,142.535470,0
117561,119.757812,49.980013,0.064402,-0.270822,3.877926,19.788559,6.959740,56.367789,0
117562,105.789062,46.986595,0.441426,0.372466,2.097826,17.170612,9.442445,99.074539,0
117563,113.515625,50.935956,0.031517,-0.443831,23.290970,62.006842,2.386364,4.001859,0

In [52]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(n_splits=1, test_size=0.1, random_state=42)

for train_index,test_index in sss.split(df,df['Class']):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]

In [53]:
strat_train_set

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
3092,50.085938,31.711644,2.933663,17.262631,37.221572,65.845159,1.735180,1.956476,1
17142,126.953125,47.962886,0.069867,-0.010815,1.354515,10.362383,15.232491,307.749271,0
116227,125.359375,45.566898,-0.098536,0.366824,3.801839,25.738458,7.810015,62.912358,0
60029,97.992188,41.890317,0.457329,1.043680,2.158027,17.897531,9.430141,100.257429,0
20966,107.132812,41.846006,0.255739,0.569564,2.153010,17.454589,9.777959,105.363261,0
...,...,...,...,...,...,...,...,...,...
427,128.828125,51.078943,-0.044618,-0.125946,2.771739,16.183736,8.986482,95.093257,0
542,134.960938,48.381898,-0.144957,-0.060215,115.790970,96.550748,-0.481317,-1.681597,0
95899,98.562500,40.789544,0.701411,1.355573,2.660535,18.126257,8.578909,85.804845,0
40878,92.750000,41.991767,0.737211,1.624838,2.964883,16.684993,8.038275,83.738159,0
62260,46.570312,37.092209,3.255719,13.586891,20.753344,55.179492,2.735139,6.062639,1

In [54]:
strat_test_set

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
93321,108.914062,46.064641,0.361711,0.103470,1.818562,14.854456,10.954094,135.076403,0
110744,126.828125,52.273362,0.093847,-0.095198,1.661371,16.743136,11.441576,143.347897,0
61258,103.945312,49.873227,0.362941,0.123435,1.947324,18.622362,10.463164,116.962242,0
40679,117.914062,45.935938,0.167828,0.171523,1.088629,11.356672,14.840627,262.506793,0
97080,133.671875,51.171338,-0.064066,-0.359931,3.728261,24.391852,7.304675,55.805042,0
...,...,...,...,...,...,...,...,...,...
55092,105.039062,49.826221,0.434825,0.084100,3.859532,21.001207,6.654853,50.696445,0
36197,131.093750,47.907414,-0.016535,-0.097811,2.012542,16.520122,11.245735,140.782455,0
41098,107.054688,48.222916,0.339626,0.387984,3.184783,18.746382,7.908775,73.388038,0
90579,8.843750,31.270586,6.325521,41.914192,109.183110,78.528624,0.095444,-0.977318,1
38676,123.054688,47.954566,0.126098,-0.008651,2.364548,16.790192,9.408318,105.246478,0

In [55]:
strat_test_set['Class'].value_counts()

Class
0    10660
1     1097
Name: count, dtype: int64

In [56]:
df['Class'].value_counts()

Class
0    106597
1     10967
Name: count, dtype: int64

In [57]:
10660/106597

0.10000281433811459

In [58]:
1097/10967

0.10002735479164768

In [59]:
schema.target_column

'Class'

In [22]:
from pulsarclassification.utils.common import read_yaml,create_directories,get_file_size
model_param = read_yaml("G:\\success_analytics_courses\\internship_project\\pulsar_project\\config\\params.yaml")
model_param

[02-09-2023 17:09:31: INFO: common:  yaml file from this path G:\success_analytics_courses\internship_project\pulsar_project\config\params.yaml read succesfully]

ConfigBox({'model_selection': {'module_0': {'classifier': 'LGBMClassifier', 'module': 'lightgbm', 'params': {'n_estimators': 100, 'random_state': 0}}, 'module_1': {'classifier': 'XGBClassifier', 'module': 'xgboost', 'params': {'n_estimators': 50, 'random_state': 0}}}})

In [5]:
model_param.model_selection

ConfigBox({'module_0': {'classifier': 'LGBMClassifier', 'module': 'lightgbm', 'params': {'n_estimators': 100, 'random_state': 0}}, 'module_1': {'classifier': 'XGBClassifier', 'module': 'xgboost', 'params': {'n_estimators': 50, 'random_state': 0}}})

In [6]:
model_param.model_selection.module_0

ConfigBox({'classifier': 'LGBMClassifier', 'module': 'lightgbm', 'params': {'n_estimators': 100, 'random_state': 0}})

In [8]:
type(model_param.model_selection.module_0.module)

str

In [2]:
import importlib

In [6]:
%pwd
os.chdir("../")
%pwd

'g:\\success_analytics_courses\\internship_project\\pulsar_project'

In [5]:
import os
os.getcwd()

'g:\\success_analytics_courses\\internship_project\\pulsar_project\\research'

In [9]:
from pulsarclassification.constants import *
CONFIG_FILE_PATH,SCHEMA_FILE_PATH,MODEL_PARAMETER_FILE_PATH

('g:\\success_analytics_courses\\internship_project\\pulsar_project\\config\\config.yaml',
 'g:\\success_analytics_courses\\internship_project\\pulsar_project\\config\\schema.yaml',
 'g:\\success_analytics_courses\\internship_project\\pulsar_project\\config\\params.yaml')

In [1]:
print("-----------------------------------------------------")
print("-----------------------------------------------------")

-----------------------------------------------------
-----------------------------------------------------

In [7]:
import pandas as pd
df = pd.read_csv("artifacts\\data_transformation\\training_data_for_model\\pulsar_train_data.csv")

In [8]:
df

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,50.085938,31.711644,2.933663,17.262631,37.221572,65.845159,1.735180,1.956476,1
1,126.953125,47.962886,0.069867,-0.010815,1.354515,10.362383,15.232491,307.749271,0
2,125.359375,45.566898,-0.098536,0.366824,3.801839,25.738458,7.810015,62.912358,0
3,97.992188,41.890317,0.457329,1.043680,2.158027,17.897531,9.430141,100.257429,0
4,107.132812,41.846006,0.255739,0.569564,2.153010,17.454589,9.777959,105.363261,0
...,...,...,...,...,...,...,...,...,...
105802,128.828125,51.078943,-0.044618,-0.125946,2.771739,16.183736,8.986482,95.093257,0
105803,134.960938,48.381898,-0.144957,-0.060215,115.790970,96.550748,-0.481317,-1.681597,0
105804,98.562500,40.789544,0.701411,1.355573,2.660535,18.126257,8.578909,85.804845,0
105805,92.750000,41.991767,0.737211,1.624838,2.964883,16.684993,8.038275,83.738159,0
105806,46.570312,37.092209,3.255719,13.586891,20.753344,55.179492,2.735139,6.062639,1

In [14]:
iff1 = df.drop('Class',axis=1)

In [15]:
iff1

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve
0,50.085938,31.711644,2.933663,17.262631,37.221572,65.845159,1.735180,1.956476
1,126.953125,47.962886,0.069867,-0.010815,1.354515,10.362383,15.232491,307.749271
2,125.359375,45.566898,-0.098536,0.366824,3.801839,25.738458,7.810015,62.912358
3,97.992188,41.890317,0.457329,1.043680,2.158027,17.897531,9.430141,100.257429
4,107.132812,41.846006,0.255739,0.569564,2.153010,17.454589,9.777959,105.363261
...,...,...,...,...,...,...,...,...
105802,128.828125,51.078943,-0.044618,-0.125946,2.771739,16.183736,8.986482,95.093257
105803,134.960938,48.381898,-0.144957,-0.060215,115.790970,96.550748,-0.481317,-1.681597
105804,98.562500,40.789544,0.701411,1.355573,2.660535,18.126257,8.578909,85.804845
105805,92.750000,41.991767,0.737211,1.624838,2.964883,16.684993,8.038275,83.738159
105806,46.570312,37.092209,3.255719,13.586891,20.753344,55.179492,2.735139,6.062639

In [18]:
iff2 = df[['Class']]

In [20]:
type(iff2)

pandas.core.frame.DataFrame

In [21]:
type(iff1)

pandas.core.frame.DataFrame

In [23]:
model_param

ConfigBox({'model_selection': {'module_0': {'classifier': 'LGBMClassifier', 'module': 'lightgbm', 'params': {'n_estimators': 100, 'random_state': 0}}, 'module_1': {'classifier': 'XGBClassifier', 'module': 'xgboost', 'params': {'n_estimators': 50, 'random_state': 0}}}})

In [35]:
import importlib
def class1(md,class_name,args):
    mod_1 = importlib.import_module(md)
    class_ref = getattr(mod_1, class_name)
    model = class_ref(**args)
    
    #class_ref.set_params(**args)
    return model

In [43]:
from lightgbm import LGBMClassifier
import numpy as np
lgb = LGBMClassifier()
lgb.set_params(**model_param.model_selection.module_0.params)
lgb.fit(X=iff1,y=iff3)

[LightGBM] [Info] Number of positive: 9870, number of negative: 95937
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.079491 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2040
[LightGBM] [Info] Number of data points in the train set: 105807, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.093283 -> initscore=-2.274192
[LightGBM] [Info] Start training from score -2.274192

LGBMClassifier(random_state=0)

In [36]:
lgbm_model = class1(model_param.model_selection.module_0.module,
                    model_param.model_selection.module_0.classifier,
                    model_param.model_selection.module_0.params)

In [38]:
lgbm_model.get_params()

{'boosting_type': 'gbdt',
 'class_weight': None,
 'colsample_bytree': 1.0,
 'importance_type': 'split',
 'learning_rate': 0.1,
 'max_depth': -1,
 'min_child_samples': 20,
 'min_child_weight': 0.001,
 'min_split_gain': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'num_leaves': 31,
 'objective': None,
 'random_state': 0,
 'reg_alpha': 0.0,
 'reg_lambda': 0.0,
 'subsample': 1.0,
 'subsample_for_bin': 200000,
 'subsample_freq': 0}

In [42]:
iff3 = df.iloc[:,-1]
iff3

0         1
1         0
2         0
3         0
4         0
         ..
105802    0
105803    0
105804    0
105805    0
105806    1
Name: Class, Length: 105807, dtype: int64

In [46]:
type(model_param.model_selection.module_0.module)

str

In [47]:
d = {"a": {"p1": "b","p2":"c"}}

In [61]:
u = {"all_trained_model_paths":{}}
u

{'all_trained_model_paths': {}}

In [62]:
dic1 = {"b":"p1"}
u['all_trained_model_paths'].update(dic1)

In [63]:
u

{'all_trained_model_paths': {'b': 'p1'}}

In [57]:
u['all_trained_model_paths'].update({"b":"p1"})

In [58]:
u

{'all_trained_model_paths': {'b': 'p1'}}

In [59]:
u['all_trained_model_paths'].update({"c":"p2"})

In [60]:
u

{'all_trained_model_paths': {'b': 'p1', 'c': 'p2'}}

In [48]:
d

{'a': {'p1': 'b', 'p2': 'c'}}

In [51]:
import yaml
with open("check.yaml","w") as file:
    yaml.dump(d, file)
file.close()

In [52]:
import pickle

In [1]:
from pulsarclassification.utils.common import pickle_file_saving

In [65]:
type(lgb)

lightgbm.sklearn.LGBMClassifier

In [66]:
import pickle
pickle.dump(lgb,open("check.pkl","wb"))

In [1]:
import os
print(os.getcwd())
os.chdir("../")
%pwd

g:\success_analytics_courses\internship_project\pulsar_project\research

'g:\\success_analytics_courses\\internship_project\\pulsar_project'

In [2]:
from pulsarclassification.utils.common import read_yaml,create_directories,get_file_size
model_param = read_yaml("G:\\success_analytics_courses\\internship_project\\pulsar_project\\config\\params.yaml")
model_param

[03-09-2023 08:32:19: INFO: common:  yaml file from this path G:\success_analytics_courses\internship_project\pulsar_project\config\params.yaml read succesfully]

ConfigBox({'model_selection': {'module_0': {'classifier': 'LGBMClassifier', 'module': 'lightgbm', 'params': {'n_estimators': 100, 'random_state': 0}}, 'module_1': {'classifier': 'XGBClassifier', 'module': 'xgboost', 'params': {'n_estimators': 50, 'random_state': 0}}}})

In [3]:
model_param.model_selection

ConfigBox({'module_0': {'classifier': 'LGBMClassifier', 'module': 'lightgbm', 'params': {'n_estimators': 100, 'random_state': 0}}, 'module_1': {'classifier': 'XGBClassifier', 'module': 'xgboost', 'params': {'n_estimators': 50, 'random_state': 0}}})

In [4]:
type(model_param.model_selection)

box.config_box.ConfigBox

In [7]:
a = model_param.model_selection
e_l = []
for key,value in a.items():
    print(key)
    e_l.append(key)

module_0
module_1

In [11]:
ch = []
for key,value in model_param.model_selection.items():
    print(key)
    ch.append(key)

ch

module_0
module_1

['module_0', 'module_1']

In [8]:
e_l

['module_0', 'module_1']

In [10]:
a[e_l[0]]['classifier']

'LGBMClassifier'

In [13]:
from datetime import datetime
CURRENT_DATE_STAMP = f"{datetime.now().strftime('%d%m%Y')}"
CURRENT_DATE_STAMP
ch = f"model_{CURRENT_DATE_STAMP}"
ch

'model_03092023'