In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
%pwd
os.chdir("../")
%pwd

'g:\\success_analytics_courses\\internship_project\\pulsar_project'

In [5]:
df = pd.read_csv("artifacts\\data_ingestion\\ingested_data\\train.csv")

In [7]:
df

,id,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0
...,...,...,...,...,...,...,...,...,...,...
117559,117559,132.843750,56.748838,-0.060070,-0.554084,4.054348,27.844144,6.564423,44.442664,0
117560,117560,112.578125,52.539271,0.179580,-0.306961,1.637960,15.331913,11.384718,142.535470,0
117561,117561,119.757812,49.980013,0.064402,-0.270822,3.877926,19.788559,6.959740,56.367789,0
117562,117562,105.789062,46.986595,0.441426,0.372466,2.097826,17.170612,9.442445,99.074539,0
117563,117563,113.515625,50.935956,0.031517,-0.443831,23.290970,62.006842,2.386364,4.001859,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117564 entries, 0 to 117563
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    117564 non-null  int64
 1   Mean_Integrated       117564 non-null  float64
 2   SD                    117564 non-null  float64
 3   EK                    117564 non-null  float64
 4   Skewness              117564 non-null  float64
 5   Mean_DMSNR_Curve      117564 non-null  float64
 6   SD_DMSNR_Curve        117564 non-null  float64
 7   EK_DMSNR_Curve        117564 non-null  float64
 8   Skewness_DMSNR_Curve  117564 non-null  float64
 9   Class                 117564 non-null  int64
dtypes: float64(8), int64(2)
memory usage: 9.0 MB

In [11]:
df['Class'].dtype == 'int64'
a = df.isna().sum().sum()
a

0

In [14]:
a = [ft for ft in df.columns if df[ft].isna().sum()==0]
a

['id',
 'Mean_Integrated',
 'SD',
 'EK',
 'Skewness',
 'Mean_DMSNR_Curve',
 'SD_DMSNR_Curve',
 'EK_DMSNR_Curve',
 'Skewness_DMSNR_Curve',
 'Class']

In [16]:
df['Class'].nunique()

2

In [2]:
l = [1,2,3]
for i in l:
    print(i)
    with open('example.txt', 'w', encoding='utf-8') as my_file:
        my_file.write(f'{i}\n')
        my_file.close()

1
2
3

In [4]:
a_list = ['bobby', 'hadz', 'com']
with open('example.txt', 'w', encoding='utf-8') as my_file:
    for item in a_list:
        my_file.write(f'{item}\n')

In [1]:
import os
%pwd
os.chdir("../")
%pwd

'g:\\success_analytics_courses\\internship_project\\pulsar_project'

In [3]:
import os
from pulsarclassification.logging import logging
from pulsarclassification.constants import *
from pulsarclassification.utils.common import read_yaml,create_directories,get_file_size
#from pulsarclassification.entity import DataIngestionConfiguration,DataValidationConfiguration

class DataValidation:
    def __init__(self):

        try:
            #self.ingestion_config = ingestion_config
            #self.validation_config = validation_config
            self.schema = read_yaml(SCHEMA_FILE_PATH)
        except Exception as e:
            raise e 
    def check(self):
        return self.schema

In [4]:
dv = DataValidation()
a = dv.check()

[20-08-2023 18:27:25: INFO: common:  yaml file from this path config\schema.yaml read succesfully]

In [5]:
a.number_of_feature_columns

9

In [2]:
def add_subject_to_file(filename, new_subject):
    try:
        with open(filename, 'a') as file:
            file.write(new_subject + '\n')  # Add a newline after each subject
        print("Subject added successfully.")
    except Exception as e:
        print("An error occurred:", e)

# Example usage
file_name = "subjects.txt"  # Replace this with your actual file name
new_subject = "Biology"     # Replace this with the new subject you want to add

add_subject_to_file(file_name, new_subject)

Subject added successfully.